<p>Test 1</p>
<ul>
{% for post in arrayPost %}
   <li {% if post.publish == false %} style="color:red;" {% endif %} >
        {{ post.UserName }}        
   </li> 
{% endfor %}
</ul>



<p>Test 2</p>
<ul>
{% for post in arrayPost %}
   <li class="{{ (loop.index is odd) ? 'odd' : 'even' }}" style="{{ post.publish ? '':'color:red;' }}">
        {{ post.UserName }}        
   </li> 
{% endfor %}
</ul>